.line::after {
    content: '';
    height: 1px;
    margin: 20px auto;
    background: white;
    display: block;
    width: 98%;
}

.line:first-child {
    margin-top: 20px;
}

.aspect {
    height: 0;
    padding-top: 80%;
    position: relative;
    width: 80%;
    margin-bottom: 2em;
}

.img-centering {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.flexbox-centering {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo {
    width: 100%;

}